.settings_window {
    position: absolute;
    left: 30%;
    top: 20%;
    width: 530px;
    
}
.settinsKeys{
    width: 50%;
  height: 300px;
  
  float: left;
}
.settingsColours {
    margin-left: 15%;
    height: 300px;
    
}

.game_window{
    position: absolute;
    left: 12%;
    bottom : 40px;
    
}
#player_name, #score, #life, #time {
    display:inline-block;
    margin-left: 20px;
    bottom:0px;
}
#newGame{
    display:inline-block;
    margin-left: 160px;
    
}
#lblPlayerName, #lblScore, #lblLife, #lblTime{
    width: 50px;
    background:linear-gradient(to right, rgba(247, 241, 241, 0.808), rgb(226, 37, 116));

}
.paragraph{
    font-weight:bold;
}
#buttonUp, #buttonDown, #buttonLeft, #buttonLeft{
    display:inline-block;
}
#settingsbutton, #randombutton, #resetButton{
    width: 190px;
    margin-left: 20px;
}
#settingsbutton{
    background:gray;
}


